.git
.gitignore
**/.git
**/.gitignore
**/.DS_Store
**/node_modules
**/bin
**/obj
**/TestResults
**/coverage
**/.vite
**/.next
**/.turbo
**/*.tsbuildinfo
**/*.log
**/.cache
**/logs

.env
.env.local
.env.*.local

postgres-data
prometheus-data
grafana-data

.vscode
.idea

**/*.nswag.tmp
